{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

	<div class="container my-5">
		<div class="col-3">
			<h3 class="h3">All Profiles</h3>
			<hr size=5>
		</div>

		<div class="row">
			{% for fields in form %}
				
			
			<div class="col-3 my-4">
				<div class="card z-depth-3 ">
					<div class="view overlay">
						<img src="{% static "img/6.jpg" %}"  class="card-img-top "  alt="">
						<div class="mask flex-center text-white rgba-stylish-stron"></div>
					</div>
					<div class="card-body">
						<h5 class="card-title ">{{fields.Name}}</h5>
						<div>
							<span class="card-text">{{fields.JoinedDate}}</span>
						</div>
						<a href="/viewprofile/{{fields.Uid}}" title="" class="btn btn-outline-success btn-sm float-right">View <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
	
	
</body>
</html>