{% extends "BaseEdit.html" %}
{% load widget_tweaks %}


{% block content %}

<form action="/updateskill/{{skill.id}}/{{skill.Uid}}" method="post" >
	
{% csrf_token %}
<div class="container p-5">
	<div class="card p-5">
		<div class="card-header h2">Working Details</div>
		{% render_field skillform.Uid value=skill.Uid%}
		{% for field in skillform.visible_fields %}
		<div class="my-3">
    			<label for="" class="h6 ">{{field.name}}</label>
    			{%render_field field class='form-control col-6' %}
    		</div>
	{% endfor %}
	<button type="submit" class="btn btn-success">Submit</button>
	</div>
	
</div>
</form>
	
{% endblock content %}